<div class="row" >


  <div class="col-12">

    <div class="row" >
      <div class="col">
        <h2 class="main-header">User Accounts</h2>
      </div>
    </div>
<br>
    <div class="row">

        <div class="col">
            <form   [formGroup]="usersearchForm" >
                <div class="form-row">
                
                    <div class="col">
                        <select class="form-control"  formControlName="type" id="exampleFormControlSelect1">
                          <option value="name">Full Name</option>
                          <option value="uid">User Id</option>
                          <option value = "rid">Referral Id</option>
                          
                        </select>
                      </div>
                    <div class="col">

                        <input type="text" formControlName="search" class="form-control" placeholder="">
                      </div>
                      <div class="col">

                        <button type="button"  class="form-control" (click)="search(usersearchForm.value)" class="btn btn-primary"> search</button>
                        </div>
                </div>
              </form>
        </div>
      </div>
      <br>
    <div class="row">

      <div class="col" style="max-width:100%" >
        <table  style="font-size:80% ;" class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th style="width: 20%">Name </th>
              <th style="width: 10%" >Total Holdings
              </th>
              <th style="width: 10%">Wallet Balance</th>
              <th style="width: 10%">Pending Balance</th>
              <th style="width: 10%">Referral comission</th>
              <th style="width: 10%" >Monthly Ref. Earnings</th>
            <th style="width: 10%"> Approval</th>
            <th style="width: 10%">Transaction</th>
              <!-- <th style="width: 10%">Approval staus</th>
              <th style="width: 10%">Transaction status</th>

              <th style="width: 10%">Referral Id </th> -->
             

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of useraccounts">
              
<td >{{u.name}} <br>
Referal Id : {{u.referralid}}</td>
              
<td style="width: 10%">${{u.totalinvestment}}</td>

<td >${{u.walletbalance}}</td>

<td style="width: 10%">${{u.walletpendingbalance}}</td>
<td style="width: 10%">${{u.totalspotearnings}}</td>

<td style="width: 10%">${{u.totalreferralearnings}}</td>
<td style="width: 10%">{{u.approvalstatus}}</td>

<td style="width: 10%"><span  *ngIf="u.transaction == true">approved</span><span  *ngIf="u.transaction == false">pending</span></td>









            </tr>

          </tbody>
        </table>

      </div>
    </div>




  </div>
</div>