<div class="row">
    
       
  <div class="col-12">
  
      <div class="row">
              <div class="col"><h2 class="main-header">Users</h2>  </div>

              
          </div>
<br>
<br>
          <div class="row">

            <div class="col">
                <form   [formGroup]="usersearchForm" >
                    <div class="form-row">
                    
                        <div class="col">
                            <select class="form-control"  formControlName="type" id="exampleFormControlSelect1">
                              <option value="name">Name</option>
                              <option value="email">Email</option>
                              <option value = "mobile">Mobile</option>
                              <option value="id">Id</option>
                            </select>
                          </div>
                        <div class="col">

                            <input type="text" formControlName="search" class="form-control" placeholder="">
                          </div>
                          <div class="col">

                            <button type="button"  class="form-control" (click)="search(usersearchForm.value)" class="btn btn-primary"> search</button>
                            </div>
                    </div>
                  </form>
            </div>
          </div>

          
          <br>
          <br>

  <div class="row" >
  
    <div class="col"  style="overflow-x: scroll">
        <table style="font-size:80%" id="usertable"  class="table table-bordered table-hover table-striped" >
            <thead>
              <tr >
                <th >Name	</th>
                <th >Email</th>
                <th>Id</th>
                 <th>Proof</th>
                 <th>Approval</th>
                 <th>Edit</th>
                 <th>View</th>

              </tr>
            </thead>
            <tbody> 
    <tr *ngFor="let u of users">        
    <td style="width: 20%">{{u.title}} {{u.displayname}} {{u.lastname}}</td>
  
    <td  style="width: 20%"> {{u.email}} </td>
    <td  style="width: 20%"> {{u.uid}}</td>
    <td  style="width: 10%"><a href="{{u.proofurl}}">View proof</a></td>
    <td style="width: 10%"><a href="#">Approve</a></td>
    <td style="width: 10%"><a routerLink="/dashboard/editprofile/{{u.uid}}">Edit</a></td>
   
    <td style="width: 10%"><a routerLink="/dashboard/viewprofile/{{u.uid}}">View</a></td>





      </tr>  
  
      </tbody>
          </table>
        
    </div>
  </div>
  
  
  
  
  </div>
  </div>