<div class="row h-100">
  <div class="col">
  
  
      <div class="row">
          <div class="col"><h2 class="main-header"> User Holdings</h2>  </div>
      </div>
   
    <div class="row">
  
      <div class="col">
  
          <table style="line-height:60%" class="table  table-bordered table-hover table-striped text-nowrap">
              <thead>
                  <tr>
                    <th>User Id</th>
                    <th>Scheme</th>
                    <th>Date</th>
                    <th>Maturity Date</th>
                    <th >C-Gold Investment</th>
                    <th>Maturity Value </th>
                    <th>Duration</th>
                    <th>Trading Growth</th>
                    <th>Status</th>
                    <th>Referral Id</th>
  
                  </tr>
                </thead>
  <tbody>
      <tr  *ngFor="let i of investments">
        <td>{{i.uid}}</td>
          <td>{{i.scheme}}</td>
          <td>{{converttimestamp(i.timestamp)}}</td>
          <td>{{calculateenddate(i.timestamp,i.duration)}}</td>
          <td class="tdgreen">${{i.amount}}</td>
          <td class="tdgreen">${{i.amount+(i.amount*(i.interest_rate/100))}}</td>
          <td>{{i.duration}}</td>
          <td>{{i.interest_rate}}%</td>
          <td>{{i.status}}</td>
          <td>{{i.referralid}}</td>
        </tr>
  </tbody>
  
  </table>
  
  
  
      </div>
    </div>
  
  
  
             