<div class="row h-100">
  <div class="col">
  
  
      <div class="row">
          <div class="col"><h2 class="main-header"> User Holdings</h2>  </div>
      </div>
   
    <div class="row">
  
      <div class="col">
  
          <table style="line-height:60%" class="table  table-bordered table-hover table-striped text-nowrap">
              <thead>
                  <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th >C-Gold</th>


                    <th>Maturity Date</th>
                    <th>Maturity Value </th>
                   
                    <th>Status</th>
                    <th>Referral</th>
  
                  </tr>
                </thead>
  <tbody>
      <tr  *ngFor="let i of investments">
        <td style="width: 20%">{{i.name}}</td>
          <td style="width: 10%">{{converttimestamp(i.timestamp)}}</td>
          <td style="width: 10%" class="tdgreen">${{i.amount}}</td>

          <td style="width: 10%">{{calculateenddate(i.timestamp,i.duration)}}</td>
          <td style="width: 10%" class="tdgreen">${{i.amount+(i.amount*(i.interest_rate/100))}}</td>
         
          <td style="width: 20%">{{i.status}}</td>
          <td style="width: 20%">{{i.refname}}</td>
        </tr>
  </tbody>
  
  </table>
  
  
  
      </div>
    </div>
  
  
  
             