<nav class="navbar  sticky-top navbar-expand-lg ">



  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="#">Catcotrade</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </ul>
    <ul class="nav navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Welcome : Administrator</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">

      <li class="nav-item">
        <a class="nav-link" (click)="logout()" href="#">Logout</a>
      </li>
      <!-- (click)="logout()" -->
    </ul>
  </div>

</nav>


<div class="row h-100" style="margin-right:0px">


  <div class="col-2 side-nav sidenavigation" style="">
    <div class="" style="">
      <nav class="nav flex-column nl">


        <a class="nav-link active" routerLink="/dashboard/users" routerLinkActive="nla">
          <i class="fas fa-user-circle fa-lg"></i> Users </a>
        <a class="nav-link active" routerLink="/dashboard/useraccounts" routerLinkActive="nla">
          <i class="fas fa-money-bill-alt fa-lg"></i> User accounts
        </a>

        <a class="nav-link" routerLink="/dashboard/investments" routerLinkActive="nla">
          <i class="fas fa-exchange-alt fa-lg"></i>Holdings&nbsp;
        </a>
        <a class="nav-link" routerLink="/dashboard/transactions" routerLinkActive="nla">
          <i class="fas fa-exchange-alt fa-lg"></i> Transactions</a>

        <a class="nav-link" routerLink="/dashboard/withdrawalrequests" routerLinkActive="nla">
          <i class="fas fa-dollar-sign fa-lg"></i> Withdrawal Requests</a>

        <a class="nav-link " routerLink="/dashboard/addwalletbalance" routerLinkActive="nla">
          <i class="fas fa-user-circle fa-lg"></i> Add wallet balance</a>


      </nav>
    </div>
  </div>

  <div class="col-10 h-100" style="overflow-x: scroll;overflow-y:scroll">
    <router-outlet></router-outlet>


  </div>

</div>