<div class="row" >


  <div class="col-12">

    <div class="row" >
      <div class="col">
        <h2 class="main-header">Transactions</h2>
      </div>
    </div>
    <br>
    <div class="row">

        <div class="col">
            <form   [formGroup]="usersearchForm" >
                <div class="form-row">
                
                    <div class="col">
                        <select class="form-control"  formControlName="type" id="exampleFormControlSelect1">
                          <option value="uid">User Id</option>
                          
                        </select>
                      </div>
                    <div class="col">

                        <input type="text" formControlName="search" class="form-control" placeholder="">
                      </div>
                      <div class="col"><input type="date" class="form-control" formControlName="from"></div>
                      <div class="col"> <input type="date" class="form-control" formControlName="to"></div>
                      <div class="col">
                          <select class="form-control"  formControlName="ttype" id="exampleFormControlSelect1">
                            <option value="CWT">Credit wallet transfer</option>
                            <option value="DWT">Debit Wallet transfer</option>
                            <option value="WD">Withdrawal</option>
                            <option value="CSC">Spot comission</option>
                            <option value="CMR">Monthly ref. returns</option>
                            <option value="DI">Investment</option>
                            <option value="IR">Investment return</option>
                          </select>
                        </div>
                    
                      <div class="col">

                        <button type="button"  class="form-control" (click)="search(usersearchForm.value)" class="btn btn-primary"> search</button>
                        </div>
                </div>
              </form>
        </div>
      </div>
    <br>
    <div class="row" >

      <div class="col" >
        <table id="usertable" style="font-size:80%" class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th style="width: 10%">Date </th>
              <th style="width: 10%">Credit </th>
              <th style="width: 10%">Debit</th>
              <th style="width: 10%">Amount</th>
              <th style="width: 10%">Status</th>

              <th style="width: 50%">Narration </th>
    

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of transactions">
              
<td>{{converttimestamp(t.timestamp)}}</td>
<td class="tdgreen"><span   *ngIf="t.credit > 0">${{t.credit}}</span></td>

<td class="tdred"> <span  *ngIf="t.debit > 0">${{t.debit}}</span> </td>    
<td class="tdgreen"><span   *ngIf="t.amount > 0">${{t.amount}}</span></td>


<td>{{t.status}}</td>        
<td>{{t.narration}}</td>








            </tr>

          </tbody>
        </table>

      </div>
    </div>




  </div>
</div>