
<div class="row h-100 login" app-login>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>


<div class="col-4 mx-auto my-auto" style="width: 200px;">
  <div>
  
    
      <div class="card text-center">
          <div class="card-header">
            <h4>LOGIN ADMINISTRATOR</h4>
          </div>
          <div class="card-body">
           <div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" [(ngModel)]="email" class="form-control" >
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password"   [(ngModel)]="password" class="form-control"  >
                  </div>
                
</div>


            <button (click)="Login()"
            class="btn btn-primary">LOGIN</button>
          </div>
          <div class="card-footer text-muted">
           
          </div>
        </div>
</div>
</div>
</div>
